@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

$black: #353535;
$platinum: #dae2df;
$ashGray: #a1bab9;
$darkPink: #9c818c;
$lightPink: #d8c0ca;
$mainFont: "Montserrat", sans-serif;
$fontXL: 3rem;
$fontL: 2rem;
$fontM: 1.5rem;
$fontS: 1rem;
