@import "../../SASSVars/Variables.scss";

.profile-card {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	text-align: center;
	margin-top: 3rem;
	width: 800px;
	height: 400px;
	background-color: $platinum;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	padding: 40px;
	img {
		width: 230px;
		height: 230px;
		object-fit: cover;
		border-radius: 50%;
	}
	.user-info {
		display: flex;
		flex-direction: column;
		justify-content: left;
	}
	.repo-info {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}
	.right-half {
		display: flex;
		flex-direction: column;
		align-items: left;
		justify-content: left;
		text-align: left;
	}
	.profile-user-card {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 200px;
		height: 300px;
		background-color: $platinum;
		padding: 10px;
		margin-top: 10px;
		.upper {
			margin-bottom: 10px;
		}
		.lower {
			margin-top: 10px;
		}
		a {
			text-decoration: none;
		}
		h2 {
			margin-bottom: 0;
		}
		p {
			margin: 2px;
		}
	}
	.nums {
		text-align: center;
		padding: 0 15px 7px 15px;
		h2 {
			font-size: $fontXL;
			margin-bottom: 0;
			font-weight: lighter;
		}
		p {
			font-size: $fontS;
			padding-top: 0;
		}
	}
}
